*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    position: relative;
    background: black;
}
.nav{
    width:90%;
    align-items:center;
    justify-content:space-between;
    display:flex;
    margin:auto;
    position: fixed;
    top: 0;
    left: 0;
}
ul{
    float: right;
}
ul li{
    list-style-type: none;
    padding: 10px 20px;
    display: inline-block;
}
ul li a{
    color:white;
    text-decoration: none;
}
ul li a:hover{
    border-bottom: 1px solid gold;
}