*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../../Downloads/R.jpeg);
    background-size: cover;
}
nav{
    width: 100%;
    background-color: #2d4ba5;
    height: 75px;
    line-height: 75px;
    padding: 0px 120px;
}
nav h1{
    font-size: 32px;
    font-family: sans-serif;
    color: #fff;
    text-transform: uppercase;
    float: left;
}

nav ul{
    float: right;
}
nav ul li{
    float: left;
    list-style-type: none;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    font-family: sans-serif;
    color: #fff;
    font-size: 17px;
    display: block;
    padding: 0px 16px;
}
nav ul li ul{
    position: absolute;
    display:none;
    background-color:#2a375e;
    border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -ms-border-radius: 0px 0px 5px 5px;
    -o-border-radius: 0px 0px 5px 5px;
}
nav ul li:hover ul{
    display: block;
}
nav ul li ul{
    line-height: 1;
    width: 190px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
padding: 6px;
}
nav ul li ul li a{
    padding: 10px 16px;
}
nav ul li ul li a:hover{
    background-color: white;
}
nav ul li a:hover{
    background-color: #46527a;
}