*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url(../../Downloads/dede.jpg);
    background-position: center;
    background-size: cover;
position: relative;
overflow-x: hidden;
}
.navbar{
display: flex;
padding: 40px 120px;
}
.navlinks{
    flex: 1;
}
.navlinks ul li{
    display: inline-block;
    list-style-type: none;
    padding: 8px 25px;
}
.navlinks ul a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.navlinks ul li::after{
    background-color: yellow;
    content: "";
    margin: auto;
    display: block;
    width: 0;
    height: 2px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.navlinks ul li:hover::after{
    width: 100%;
}
.btn{
   position: absolute;
   left: 89%;
   top: 6%;
   cursor: pointer;
   font-weight: bold;
   background-color: yellow;
   border: 0;
  padding: 10px 20px;
 
}
.geo h1 span{
    color: yellow;
}
.jk{
    background-color: yellow;
   border: 0;
  padding: 10px 20px; 
  text-transform: uppercase;
}
.geo{
    color: white;
    margin: 80px 130px;
}
.geo h1{
    font-size: 64px;
    margin-bottom:30px ;
}
.searchicon{
    height: 60%;
    width: 80px;
}
.verticalbar{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:black;
}
.searchicon i{
    display: block;
    margin: 45px 23px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}
.socialicons i{
    margin: 15px 23px;
    padding: 8px;
}


.socialicons{
    overflow: hidden;
    cursor: pointer;
    display:inline-block;
    height: 35%;
    text-align: center;
position: absolute;
padding-top:27%;
    bottom: 0;
    background: yellow;
    width: 80px;
}
.socialicons i{
    word-spacing: 4px;
    font-size: 20px;
    padding:3px;
    border: 1px solid black;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}