*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
section{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba);
}
section nav{
    display: flex;
    align-items: center;
    box-shadow: 0 0 8px rgba(0,0, 0, 0);
    justify-content: space-around;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
section nav .logo{
position: relative;
color: #c72092;
font-size: 35px;
margin: 5px 0;
left: -4%;
}

section nav .logo span{
    text-decoration: underline;
    color: purple;
}
section nav ul {
    list-style-type: none;
}

section nav ul li{
    display: inline-block;
    font-size: 19px;
    margin: 5px 15px;
}
section nav ul li a{
    color: black;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    text-decoration: none;
}
section nav ul li a:hover{
    color: pink;
}
section nav.icon i{
    margin: 0 4px;
    cursor: pointer;
    font-size: 19px;
    transition:0.3s ;
    -webkit-transition:0.3s ;
    -moz-transition:0.3s ;
    -ms-transition:0.3s ;
    -o-transition:0.3s ;
}
section nav.icon:hover{
    color: blue;
}
section.main.main-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

